*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto','sans-serif';
  
}

body{
  font-family: 'Roboto','sans-serif';
  line-height: 1.4 ;
}

h2{
  padding: 1rem;
  margin-left: 5.9rem;
}

.add-book{
  padding-inline: .5rem;
  padding-block: .2rem;
  font-size: .9rem;
  margin-left: 7rem;
}

#new-book{
  display: none;
}

form{
 flex-direction: column;
 width: 390px;
 margin-top: 5rem;
 margin-inline: 25rem;
z-index: 9999;
padding: 1.5rem;
padding-top: 0;
 position: absolute;
 background-color: aliceblue;
 border: 1px solid orange;
 border-radius: 5px;
 justify-content: center;
 height: 320px;
 font-size: inherit;
 box-shadow: rgba(188, 188, 188, 0.804) 0px 5px 9px;
}

form h3{
  text-align: center;
  margin-top: 1rem;

}

label{
  font-size: 1rem;
  padding: 0.1rem;
  margin-top: .5rem;
}

input{
  padding: .2rem;
}


input[type=checkbox]{
  accent-color: orange;
  
}


.form-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.b1{
  width: 40%;
}

.b2{
  width: 40%;
  padding: .31rem;
}


.list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto ;
  margin-top: 4rem;
  margin-inline: 4rem;
  column-gap: 1vw;
  justify-content: center;
  z-index: -1;
  
}

.card{
  display:grid;
  justify-content: center;
  align-items: center;

}

.book-grid{
  background-color: rgba(217, 237, 254, 0.829);
  margin-block: 1rem;
  margin-inline: 0;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(162, 162, 164, 0.804) 0px 7px 29px 0px;
}



.book-grid p{
  font-size: 1rem;
  margin-top:.2rem;
  min-width: 0;
}

.f-btn{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;

}

button.status{
  padding-inline: .5rem;
  padding-block: .2rem;
  font-size: .9rem;
  width: 50%;

}

button.delete{
  padding-inline: .5rem;
  padding-block: .2rem;
  font-size: .9rem;
  width: 50%;
}

button{
  background-color: rgb(248, 207, 157);
  border: .1px solid rgb(22, 22, 22);
  border-radius: 3px;
  color: rgb(12, 12, 12);
}


@media screen and (max-width:550px) {
  .list{
    grid-template-columns: repeat(1,1fr);
    margin-inline: 2rem;
    
  }

  .book-grid{
    width: 300px;
    height: 180px;
  }

  .f-btn{
    margin-top: 2.2rem;
  }

  form{
    margin-inline: 4.1rem;
  }

  .form-btn{
    margin-top: 2rem;
  }

}


@media screen and (min-width:551px) and (max-width:950px) {

 

  form{
    margin-top: 2.5rem;
    margin-inline: 7rem;
    height: 350px;

  }

  .list{
    grid-template-columns: repeat(2,1fr);
    margin-inline: 2rem;
    column-gap: 1rem;
  }

  .book-grid{
    min-width: 0;
  }
  
}


@media screen and (min-width:951px) {
  .list{
    grid-template-columns: repeat(3,1fr);
    
  }
}


@media screen and (min-width:1280px) {
    
  .list{
    grid-template-columns: repeat(4,1fr);
    margin-inline: 4rem;
    column-gap: 1rem;
  }
}


